
body
{
    margin:0;
    width: 1511px;
    background-color: #EAEDF1;
}

.wrapper
{
    margin: 81px 81px 0px 81px;
}

.clearfix::after
{
    content: "";
    display: table;
    clear: both;
}
.header .person
{
    background-color:#FFFFFF;
    width: 432px;
    border-radius: 1px;
    height:295px;
    float: left;
}

  
.header .person .photo
{
    background-color: #FFFFFF;
    margin: 34px 20px 20px 21px;
    float:left;
}

.header .person .author_info
{
    float:left;
    margin-top: 77px;
    margin-left: 20px;
}

.header .person .author_info .name
{
    color: #33495F;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
}

.header .person .author_info .city
{
  color: #727F8D;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  margin-top: 5px;
  margin-left: 1px;
 font-weight: 100;
 letter-spacing: 0.1px;
}
.header .person .personal_info
{
   width: 100%;
   display: inline-block;
  height: 80px;
  padding-top:8px;
}

.header .person .personal_info .main_blocks
{
  width: 108px;
  height: 100%;
  display: inline-block;
  color: #FFFFFF;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 14.5px;
}
.header .person .personal_info span
{
  position: relative;
  display: inline-block;
  font-weight: 100;
}

.header .person .personal_info img
{
  display: inline-block;
  position: relative;
  top: 18px;
  left: 0px;
}


.header .person .personal_info .age
{
    background-color: #16C4EC;
}

.header .person .personal_info .age .icon1
{
    margin-left: 44px;
}
.header .person .personal_info .age .span1
{
    top: 20px;
    left: 29px;
}

.header .person .personal_info .nationality
{
    background-color: #FA5351;
    margin-left: -4px;   
}

.header .person .personal_info .nationality .icon2
{
    margin-left: 44px;
}
.header .person .personal_info .nationality .span2
{
    top: 20px;
    left: 15px;
}

.header .person .personal_info .car_license
{
    background-color: #10CDC1;
    margin-left: -4px;
}
.header .person .personal_info .car_license .icon3
{
    margin-left: 44px;
}
.header .person .personal_info .car_license .span3
{
    top: 20px;
    left: 23px;
}

.header .person .personal_info .smoking
{
    background-color: #33495F;
    margin-left: -4px;
}

.header .person .personal_info .smoking .icon4
{
    margin-left: 44px;
    margin-right: 35px;
}
.header .person .personal_info .smoking .span4
{
    top: 20px;
    left: 39px;
}

.header
{
    display: inline-block;
}


.header .resume
{
    width:795px;
    float:right;
    background-color: white;
    margin-left: 90px;
    padding: 18px 0px 0px 30px;
    border-radius: 3px;
}

.header .resume .column_layout
{
   width:410px;
}

.header .resume .column_layout h1
{
    color: #33495F;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    letter-spacing: 0.25px;
    margin-bottom: -9px;
}

.header .resume .column_layout .overall
{
    color: #637484;
    float:left;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17.5px;
    text-align: justify;
    line-height: 31px;
    padding-left: 3.5px;
    padding-right: 4px;
    letter-spacing: 0.1px;
}

.header .resume .column_layout .overall .text-blue
{
    color:#36CBEE;
}

.header .resume .column_layout .overall .social_media
{
    clear:both;
    height: 30px;
    margin: 22px 0px 24px -8px;
}

.header .resume .column_layout .overall .social_media img
{
    float: left;
}

.header .resume .column_layout .overall .social_media .s_icon2
{ 
    margin-left: 42px;
}

.header .resume .column_layout .overall .social_media .s_icon3
{
    margin-left: 46px;
}

.header .resume .column_layout .overall .social_media .s_icon4
{
    margin-left: 46px;
}
.header .resume .column_layout .overall .social_media .s_icon5
{
    margin-left: 43px;
}
.header .resume .column_layout .overall .social_media .s_icon6
{
    margin-left: 42px;
}

.header .resume .contacts 
{
    float:right;
    margin-right: 35px;
    width: 275px;
    padding-bottom: 9px;
    border-bottom: 1px solid #788695;
}

.header .resume .contacts p
{
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header .resume .contacts .email
{
  color: #33495F;
  font-size: 23px;
  padding-top: 2px;
  margin-left: -2.25px;
  letter-spacing: -0.07px;
}

.header .resume .contacts .web_site
{
   color:#FA5351;
   font-size: 23px;
    margin-top: -7px;
    margin-left: -0.5px;
    letter-spacing: 2px;
}


.left_column_layout
{
    width:654px;
    display:inline-block;
}
.left_column_layout .left_block
{
    background-color: white;
    color: #33495F;
    border-radius: 4px;
    margin:33px 20px 15px 0px;
    padding: 0px;
}

.left_column_layout h2
{
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #33495F;
  margin-left: 24px;
  padding-top:-1px;
  font-size: 25px;
  display: inline;
  letter-spacing: 0.15px;
}

.left_column_layout .left_block .work_place
{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #9EA7B4;
  margin-left: 9px;
  font-size: 18px;
  display: inline;
  line-height: 90px;
  letter-spacing: -0.085px;
}

.left_column_layout h3
{
  color: #04BCA6;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  display: block;
  letter-spacing: 0.025px;
  margin: 0px 0px 0px 22px;
  position: relative;
  top:-30px;
}

.left_column_layout .left_block ul
{
  font-family: 'Lato', sans-serif;
  list-style-image: url('../icons/marker-on-white.png');
  font-size: 16px;
  letter-spacing: 0.1px;
  margin: -3px 10px 0px 10px;
  vertical-align: middle;
  
}

.left_column_layout .left_block ul li
{
    height: 34px;
    padding-left: 5px;
    text-align: justify;
}


.left_column_layout .left_block .post_info
{
    color: #9EA7B4;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size: 16px;
    margin: 31px 0px 18px 23px;
    letter-spacing: -0.2px;
}

.left_column_layout .left_block .post_info .place
{
    float: left;
    padding-top: 7px;
}

.left_column_layout .left_block .post_info .time_period
{
    float: left;
    padding: 7px 0px 0px 54px;
    letter-spacing: -0.3px;
}

.left_column_layout .left_block .post_info .button-blue
{
    background-color: #16C4EC;
    border:0px;
    border-radius: 3px;
    color:white;
    float: right;
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    height: 38px;
    letter-spacing: -0.1px;
    margin: 0px 0px 0px 82px;
    width: 217px;
}

.left_column_layout .left_block .post_info img
{
    vertical-align: middle;
}

.left_column_layout .cortix h2
{
    position: relative;
    top: -3px;    
}
.left_column_layout .cortix .work_place
{
    position: relative;
    top:-3px;
    margin-left: 8px;
}

.left_column_layout .cortix h3
{
    margin: -2px 0px 0px 22px;
    letter-spacing: 0.05px;
}

.left_column_layout  .cortix ul
{
    margin: -18px 10px 0px 10px;
    letter-spacing: 0px;
}

.left_column_layout  .cortix ul li
{
    letter-spacing: 0.05px;
}

.left_column_layout .cortix .post_info
{
    margin-top: 29px;
    padding-left: 2px;
}

.left_column_layout .cortix .post_info .time_period
{
    padding-left: 45px;
}

.left_column_layout .cortix .post_info .time_period span
{
    padding-left: 11px;
}

.left_column_layout .cortix .post_info .button-blue
{
    margin: -2px 0px 0px 93px;
    letter-spacing: 0px;
    padding-top: 2px;
    padding-right: 8px;
}
.left_column_layout .ademe h2
{
    font-size: 25px;
    letter-spacing: 0.2px;
    position: relative;
    top: 3px;
}

.left_column_layout .ademe .work_place
{
    margin-left: 3px;
    letter-spacing: -0.11px;
    position: relative;
    top: 3px;
}
.left_column_layout .ademe h3
{
    padding-top: 3px;
}

.left_column_layout .ademe .post_info
{
    position: relative;
    top: -35px;
    margin-bottom: -18px;
    font-size: 15.5px;
    padding-top: 1px;
}

.left_column_layout .ademe .post_info img
{
    position: relative;
    top:-1px;
}

.left_column_layout .left_block .button-grey
{
    background-color: #B0BBCA;
    border: 0px;
    border-radius: 3px;
    color: white;
    float: right;
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    height: 38px;
    letter-spacing: 1px;
    margin: -4px 0px 0px 77px;
    padding-left: 11px;
    width: 217px;
}

.left_column_layout .ademe .post_info .place span
{
    padding-left:1px;
}

.left_column_layout .ademe .post_info .time_period span
{
    padding-left: 1.5px;
    letter-spacing: -0.1px;
}


.left_column_layout .impec .work_place
{
    margin-left: 2px;
}

.left_column_layout .impec .post_info
{
    position: relative;
    top: -37px;
    margin-bottom: -18px;
    margin-left: 24px;
    font-size: 15.5px;
    padding-top: 1px;
    margin-right: 23px;
}

.left_column_layout .impec .post_info .place img
{
    position: relative;
    top:-1px;
}

.left_column_layout .impec .post_info .time_period
{
    padding-left: 75px;
    padding-top: 8px;
    letter-spacing: 0px;
}

.left_column_layout .impec .post_info .button-grey
{
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-top: 5px;
    margin-left: 57px;
}

.separator .line
{
    border-radius: 3px;
    position: absolute;
    top: 415px;
    left: 753px;
    height: 1140px;
    width: 6px;
    background-color: #DBE1E8;
}

.separator .circle
{
    position:absolute;
    height:20px;
    width: 20px;
    border-radius: 50%;
}

.separator .grey
{
    background-color: #DBE1E8;
}

.separator .white
{
    background-color: white;
}

.separator .item1
{
    top:577px;
    left:746px;
}

.separator .item2
{
    top:677px;
    left:746px;
}

.separator .item3
{
    top:879px;
    left:746px;
}

.separator .item4
{
    top:937px;
    left:746px;
}

.separator .item5
{
    top:1077px;
    left:746px;
}

.separator .item6
{
    top:1217px;
    left:746px;
}

.separator .item7
{
    top:1297px;
    left:746px;
}

.separator .item8
{
    top:1415px;
    left:746px;
}

.separator .item9
{
    top:1460px;
    left:746px;
}

.separator .date
{
    border-radius: 3px;
    color: white;
    background-color: #DBE1E8;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    padding: 3px 11px 4px 11px;
    position: absolute;
    top: 1554px;
    left: 720px;
}

.right_column_layout
{
    width:625px;
    float: right;
}

.right_column_layout .web_work
{
    border-bottom: 3px dotted #DBE1E8;
    padding-bottom: 20px;
}

.right_column_layout .right_block
{
    background-color: #DBE1E8;
    border-radius: 3px;
    margin:32px 0px 15px 0px;
    padding-top: 29px;
}

.right_column_layout .right_block h2
{
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #33495F;
  margin-left: 23.5px;
  font-size: 22px;
  display: inline;
  letter-spacing: 0.15px;
}
.right_column_layout .right_block .description
{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #7A8698;
    margin-left: 9px;
    font-size: 15px;
    display: inline;
    letter-spacing: 0.12px;
}

.right_column_layout .right_block h3
{
    color: #00B9D8;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: block;
    letter-spacing: 0px;
    margin: 3px 0px 0px 22px;
}

.right_column_layout .right_block .post_info
{
    color: #33495F;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size: 12.5px;
    font-weight: 100;
    margin: 24px 0px 18px 20px;
}

.right_column_layout .right_block .post_info .place
{
    float: left;
    padding-top: 13px;
}
.right_column_layout .right_block .post_info img
{
    vertical-align: middle;
}
.right_column_layout .right_block .post_info .time_period
{
    float: left;
    padding: 13px 0px 0px 64px;
}

.right_column_layout .right_block .post_info .time_period span
{
    padding-left:4px;
}

.right_column_layout .right_block .post_info .button-green
{
    background-color: #10CDC1;
    border: 0px;
    border-radius: 3px;
    color: white;
    float: right;
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    height: 38px;
    letter-spacing: 0.3px;
    font-weight: 100;
    margin: 3px 0px 0px 87px;
    width: 217px;
    padding-right: 11px;
}

.right_column_layout .qoqa h2
{
    font-size: 22.5px;
}
.right_column_layout .qoqa 
{
    padding-top: 31px;
}

.right_column_layout .qoqa .description
{
    letter-spacing: 0.15px;
    margin-left: 7px;
}
.right_column_layout .qoqa h3
{
    margin-top: 1px;
}

.right_column_layout .qoqa .post_info
{ 
    padding-top: 5px;
    letter-spacing: 0.05px;
}

.right_column_layout .qoqa .post_info .button-green
{
    margin: 1px 0px 0px 78px;
    padding-right: 8px;
}

.right_column_layout .cefire h2
{
    letter-spacing: 0.4px;
}

.right_column_layout .cefire h2 span
{
    font-size: 22px;
}

.right_column_layout .cefire .description
{
    margin-left: 6px;
}

.right_column_layout .diploma h3
{
    color:#04BCA6;
    margin-top: 2.5px;
}

.right_column_layout .diploma .post_info
{
    margin: 2px 21px 8px 21px;
    letter-spacing: 0.05px;
}

.right_column_layout .diploma .post_info .marks
{
    display: inline-block;
    position: relative;
    left: 212px;
    top: 12px;
}

.right_column_layout .diploma .school
{
    padding-top:32px;
}

.right_column_layout .diploma .school h2
{
    letter-spacing: 0.4px;
}

.right_column_layout .diploma .school .description
{
    margin-left: 6px;
}

.right_column_layout .diploma .school h3
{
    margin-top: 3.5px;
}

.right_column_layout .diploma .school .post_info
{
    margin-top: 0px;
    margin-bottom: 13px;
}

.right_column_layout .diploma .school .post_info .time_period
{
    padding-left: 46px;
}
.right_column_layout .diploma .school .post_info .time_period span
{
    padding-left: 2px;
}

.right_column_layout .diploma .school .post_info .marks
{
    left: 213px;
    top: 10px;
}